// Background
$primary: getPrimary($hue, map-get($indices, 'primary'));
$dark: getPrimary($hue, map-get($indices, 'dark'));
$light: getPrimary($hue, map-get($indices, 'light'));
$accent: getAccent($accent-hue, map-get($accent-indices, 'primary'));
$accent1: getAccent($accent-hue, map-get($accent-indices, 'fallback1'));
$accent2: getAccent($accent-hue, map-get($accent-indices, 'fallback2'));

// Text color values
$primaryText: getText($hue, map-get($indices, 'primary'));
$darkText: getText($hue, map-get($indices, 'dark'));
$lightText: getText($hue, map-get($indices, 'light'));
$accentText: getAccentText($accent-hue, map-get($accent-indices, 'primary'));
$accent1Text: getAccentText($accent-hue, map-get($accent-indices, 'fallback1'));
$accent2Text: getAccentText($accent-hue, map-get($accent-indices, 'fallback2'));

@mixin colors-primary {
	background-color: $primary;
	color: textColorShade($primaryText, 1);

	.secondary {
		color: textColorShade($primaryText, 2);
	}
	.hint {
		color: textColorShade($primaryText, 3);
	}
	.divider {
		display: none;
		color: textColorShade($primaryText, 4);
	}

	h1, h2, h3, h4, h5 {
		color: $primaryText;
	}
}
@mixin colors-dark {
	background-color: $dark;
	color: textColorShade($darkText, 1);

	.secondary {
		color: textColorShade($darkText, 2);
	}
	.hint {
		color: textColorShade($darkText, 3);
	}
	.divider {
		color: textColorShade($darkText, 4);
	}

	h1, h2, h3, h4, h5 {
		color: $darkText;
	}
}
@mixin colors-light {
	background-color: $light;
	color: textColorShade($lightText, 1);

	.secondary {
		color: textColorShade($lightText, 2);
	}
	.hint {
		color: textColorShade($lightText, 3);
	}
	.divider {
		color: textColorShade($lightText, 4);
	}

	h1, h2, h3, h4, h5 {
		color: $lightText;
	}
}

@mixin colors-accent {
	background-color: $accent;
	color: change-color($accentText, $alpha: 0.87);

	h1, h2, h3, h4, h5 {
		color: $accentText;
	}

	.secondary {
		color: change-color($accentText, $alpha: 0.54);
	}
	.hint {
		color: change-color($accentText, $alpha: 0.26);
	}
	.divider {
		color: change-color($accentText, $alpha: 0.12);
	}
}

// Accent fallbacks
@mixin colors-accent1 {
	background-color: $accent1;
	color: change-color($accent1Text, $alpha: 0.87);

	h1, h2, h3, h4, h5 {
		color: $accent1Text;
	}

	.secondary {
		color: change-color($accent1Text, $alpha: 0.54);
	}
	.hint {
		color: change-color($accent1Text, $alpha: 0.26);
	}
	.divider {
		color: change-color($accent1Text, $alpha: 0.12);
	}
}

@mixin colors-accent2 {
	background-color: $accent2;
	color: change-color($accent2Text, $alpha: 0.87);

	h1, h2, h3, h4, h5 {
		color: $accent2Text;
	}

	.secondary {
		color: change-color($accent2Text, $alpha: 0.54);
	}
	.hint {
		color: change-color($accent2Text, $alpha: 0.26);
	}
	.divider {
		color: change-color($accent2Text, $alpha: 0.12);
	}
}